<% layout('layouts/boilerplate') %>
    <div class="row">
        <div class="col-6 offset-3 vh-90">
            <form method="post" action="/campgrounds/<%= campground.id %>?_method=PUT" class="needs-validation"
                novalidate enctype="multipart/form-data">
                <!-- Title -->
                <div class="mb-3 mt-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="campground[title]"
                        placeholder="Campground Title" required value="<%= campground.title %>">
                    <div class="invalid-feedback">
                        Please enter a title for the campground.
                    </div>
                </div>

                <!-- Location -->
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="campground[location]"
                        placeholder="Campground Location" required value="<%= campground.location %>">
                    <div class="invalid-feedback">
                        Please enter a location for the campground.
                    </div>
                </div>

                <!-- Image URL -->
                <div class="mb-3">
                    <label for="image" class="form-label">Upload New Image</label>
                    <input type="file" class="form-control" id="image" name="image" multiple>
                </div>

                <!-- Image Preview-Current Image(s) -->
                <h1>
                    <%= campground.images.length %> images
                </h1>
                <div class="mb-3" style="display: flex; flex-wrap: wrap;">
                    <% campground.images.forEach(function(image, i) { %>
                        <div class="img-container d-inline-block position-relative me-2 mb-2">
                            <img src="<%= image.thumbnail %>" alt="no image">
                        </div>

                        <!-- Checkbox to delete the image -->
                        <div class="form-check-inline" style="position: relative; right: 32%;">
                            <input type="checkbox" class="form-check-input" id="delete-image-<%= i %>"
                                data-image-url="<%= image.thumbnail %>" name="deletedImages[]" value="<%= image.filename %>">
                            <!-- <label class="form-check-label" for="delete-image-<%= i %>">Delete?</label> -->
                        </div>
                        <% }); %>
                </div>

                <!-- Description -->
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" id="description" name="campground[description]" rows="4"
                        placeholder="Description" required><%= campground.description %></textarea>
                    <div class="invalid-feedback">
                        Please enter a description for the campground.
                    </div>
                </div>

                <!-- Price -->
                <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <input type="number" class="form-control" id="price" name="campground[price]"
                        aria-label="Amount (to the nearest dollar)" placeholder="Enter price" min="1" step="0.01"
                        required value="<%= campground.price %>">
                    <div class="invalid-feedback">
                        Please enter a valid price.
                    </div>
                </div>

                <!-- Submit Button -->
                <div class="mb-3">
                    <button class="btn btn-info">Update Campground</button>
                </div>
            </form>

            <!-- Cancel Button -->
            <a class="d-block" href="/campgrounds/<%= campground._id %>">Cancel Update</a>
        </div>
    </div>